$backgroundColor: #fff;
$bodyColor: #000;
$linkColor: #999;
$hoverColor: #6c5aa5;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
  background: $backgroundColor;
  color: $bodyColor;
  font-family: $bodyFont;

  footer {

    .ccnotice {
      border-width:0
    }

    svg {
      fill: $linkColor !important;
    }
    a:hover svg{
      fill: $hoverColor !important;
    }

    .license {
      color: $linkColor;
      font-size: 0.7rem;
    }

  }

  a, a:visited {
    color: $linkColor;
    text-decoration: none;
  }
  a:hover {
    color: $hoverColor;
    text-decoration: none;
  }

  .frontpage-circ {
    width: 50%;
    max-width: 300px;
    min-width: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
  }

  .frontpage-snippet {

    width: 80%; 
    height: 300px; 
    border-radius: 21px;
    
    .latest-post-footer {
      text-align: left;
    }

    .snippet {
      text-align: justify;
    }

  }

  .navbar {

    svg {
      fill: $hoverColor !important;
    }

    .toggle {
      text-align: right;
    }
    
    img.headshot {
      background-image: url("/assets/images/headshot-2024.png");
      background-size: contain;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      border-radius: 10px 20px 20px;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
    }

    .navbar-brand {

      subtitle {
        font-size: 0.7rem;
        color: darkgrey;
      }

    }

    #myNavbar {
      text-align: center;
    }

   .nav-link:hover {
      color: $hoverColor !important;
   }

  }

  .tags {
    font-size: 0.7rem;
  }

  .post-date {
    font-size: 0.9rem;
  }

  ul li {
      position: relative;
      left: 2em;
      padding-right: 1em;
  }

  .about-me img {
    max-width: 100%;
  }

  .warning {
    text-align: center; 
    max-width:500px;
    color: red;
  }

}